.btn {
  vertical-align: middle;
  max-width: 230px;
  border: none;
  .px2rem(padding, 12px 10px);
  text-transform: uppercase;
  font-family: @font-family-futura-medium;
  .px2rem(~"font-size", 17px);
  .px2rem(line-height, 20px);
  display: inline-block;
}

.success {
  background: #2b4b28;
  color: #508a45;
  &:visited {
    background: #2b4b28;
    color: #508a45;
  }
  &:hover {
    color: @color-green;
    background: @bgcolor;
  }
}

.download {
  vertical-align: middle;
  background-color: @color-green;
  text-align: center;
  .px2rem(padding, 24px 0);
  .title {
    color: #2b4b28;
  }
  .subtitle {
    color: #2b4b28;
  }
  .link-download {
    .px2rem(margin-top, 25px);
    .file-weight {
      color: #2b4b28;
      .px2rem(~"font-size", 17px);
      font-family: @font-family-futura-medium;
    }
  }
}

@media (min-width: @screen-phone) {
  .download {
    .px2rem(padding, 24px 0);
    .title {
      .px2rem(~"font-size", 35px);
    }
    .subtitle {
      .px2rem(~"font-size", 17px);
    }
  }
}

@media (min-width: @screen-desktop) {
  .download {
    .px2rem(padding, 47px 0);
    .subtitle {
      .px2rem(~"font-size", 25px);
    }
    .link-download {
      position: relative;
      .file-weight {
        position: absolute;
        .px2rem(top, 25px);
        .px2rem(margin-left, 15px);
      }
    }
  }
}
