footer {
  position: relative;
  float: left;
  width: 100%;
  .px2rem(padding, 14px 0 11px);
  background-color: @color-green;
  text-align: center;
  font-family: @font-family-roboto;
  color: #375f33;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.15);
  }
  p {
    position: relative;
    .px2rem(~"font-size", 8px);
    a {
      color: #375f33;
      text-decoration: underline;
      text-transform: lowercase;
      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  footer {
    .px2rem(padding, 28px 0 22px);
    p {
      .px2rem(~"font-size", 16px);
    }
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    padding: 28px 0 130px;
  }
}

@media only screen and (min-width: 1224px) {
  footer {
    padding: 28px 0 22px;
  }
}
