.title{
      .px2rem(~"font-size", 35px);
      line-height: 35px;
      font-family: @font-family-futura-bold;
      text-transform: uppercase;
    }
.subtitle{
    .px2rem(~"font-size", 25px);
    line-height: 45px ;
    font-family: @font-family-futura-medium ;
  }
.connected-block {
    text-align: center;
    text-transform: uppercase;
    background-color: #ad1c23;
    position: relative;
    padding: 22px;
    span {
        display: inline-block;
        vertical-align: middle;
        > span {
          vertical-align: top;
        }
      }
    .icon-connected-2 {
      font-size: 7em;
    }
    .text {
      margin-left: 15px;
      color: white;
      text-align: left;
      .px2rem(~"font-size", 30px);
      font-family: @font-family-futura-bold;

    }
 }
  .block-left{
    background-color: #ee462f;
    .title{
        color: #aa1400;
    }
    .subtitle{
        color: #aa1400;
    }
    p{
        color: #aa1400;
    }
  }
  .block-right{
    background-color: #f17632;
     .title{
        color: #a63b00;
    }
     .subtitle{
        color: #a63b00;
    }
    p{
      color: #a63b00;
    }
  }
  .block-left, .block-right{
    p{
      .px2rem(~"font-size", 16px);
      line-height: 30px;
      margin-top: 17px;
      font-family: @font-family-roboto-medium;
    }
  }
@media (max-width: @screen-phone) {
  .main{
     .block-left, .block-right{
        padding-top: 50px;
        padding-bottom: 50px;
 .title{
    .px2rem(~"font-size", 35px);
  }
  .subtitle{
    .px2rem(~"font-size", 17px);
  }
     }
  }
}
