* text=auto
*.css text
*.sass text
*.scss text
*.less text
*.styl text
*.js text
*.ts text
*.coffee text
*.json text
*.htm text
*.html text
*.xml text
*.svg text
*.txt text
*.ini text
*.inc text
*.sql text
*.sh text
*.bat text
*.ejs text
*.hbt text
*.jade text
*.hbs text
*.dot text
*.tmpl text
*.phtml text
.htaccess text
.gitattributes text
.gitignore text
.gitconfig text
.jshintrc text
.jshintignore text
.jadelintrc text
.csslintrc text
.htmlhintrc text
*.yaml text
*.yml text
.editorconfig text
*.npmignore text
*.bowerrc text
.slugignore text
*.md text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary
