include ../mixins/all
.grid-fluid
    | {{#each select-country}}
    hgroup
      h2.title {{title}}
      h3.subtitle {{subTitle}}
    ul.select-country
      | {{#each languages}}
      li: +link('{{title}}', '{{href}}')(target="_blank", class='{{class}}')
          +img('{{alt}}','{{image}}')(class="img-reponsive")
      | {{/each}}
    | {{/each}}
