include ../mixins/all
.connected-block(data-connected-block)
  .grid-fluid
      span.icon.icon-connected-2
        span.path1
        span.path2
      span.text {{introduce.icon.text}}
.group#methodology
  .row
    .grid-fluid
      .col-sm-6
        .new-arrive
          hgroup
            h2.title {{introduce.blockLeft.title}}
            h3.subtitle {{introduce.blockLeft.subTitle}}
          p.text {{introduce.blockLeft.content}}
      .col-sm-6
        .methodology
          hgroup
            h2.title {{introduce.blockRight.title}}
            h3.subtitle {{introduce.blockRight.subTitle}}
          p.text {{introduce.blockRight.content}}
