include ../mixins/all
.connected-block
  .grid-fluid
      span.icon.icon-connected-2
        span.path1
        span.path2
      span.text
          | Connected <br> Commerce
.grid-fluid#methodology
  .row

      .block-left.col-sm-6.col-xs-12
          | {{#each col-left}}
          h2.title {{title}}
          h3.subtitle {{subTitle}}
          p {{content}}
          | {{/each}}
      .block-right.col-sm-6.col-xs-12
          | {{#each col-right}}
          h2.title {{title}}
          h3.subtitle {{subTitle}}
          p {{content}}
          | {{/each}}
